.pokemon-container {
  padding: 20px;
  background-color: #f5f5f5;
}

.pokemon-container h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

/* Контейнер для сетки */
.pokemon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px; 
  justify-content: center;
  padding: 10px;
}

/* Карточка покемона */
.pokemon-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  padding: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 300px;
  overflow: hidden;
}

.pokemon-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Изображение */
.pokemon-image {
  width: 250px;
  height: 250px;
  object-fit: contain;
  margin-bottom: 10px;
  border-radius: 8px;
}

/* Имя покемона */
.pokemon-name {
  font-size: 1rem; 
  font-weight: bold;
  margin-top: 10px;
  color: #333;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 4px 8px;
  background-color: #f9f9f9;
  border-radius: 4px;
}

.loading,
.load-more-container p {
  text-align: center;
  font-size: 1.2rem;
  padding: 20px;
  color: #777;
}

.load-more-container button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  margin: 20px auto;
  display: block;
  transition: background-color 0.3s;
}

.load-more-container button:hover {
  background-color: #2980b9;
}

.pokemon-button {
  font-size: 1.2rem !important; 
  padding: 10px 15px; 
  margin-top: auto; 
  background-color: #f0f0f0; 
  border: 1px solid #ccc; 
  border-radius: 6px; 
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%; 
  font-weight: bold; 
  box-sizing: border-box; 
  min-height: 40px; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokemon-button:hover {
  background-color: #e0e0e0;
}